# Node modules
node_modules/

# Environment variables
.env

# PM2 Logs
pm2.log
pids/
logs/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Redis dump (if you use local redis persistence)
dump.rdb
appendonly.aof
